script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCksDlLnUDQ4C91YLYXjbD7c-vwNLHpnn4&sensor=true')
script(src='/js/kinetic.type.js')
//script(src='/js/map.js')
script(src='/js/play.js')
section#about
  div#map_canvas       
  div#kinetic_type
    div#scene-1
      span.act-1 Hello
      span.act-2 my name is
      span.act-3 SHAUN
      span.act-4 SPRINGER
    div#scene-2
      span.act-1 I
      span.act-2 am
      span.act-3 a
      span.act-4 DESIGNER
      span.act-5 ENGINEER     
      span.act-6 ENTREPRENEUR
      
      