h1 Summary
  span Creative software developer with experience in UI design, software architecture, and project management. 
h1 Professional Experience
  h2 Product Manager / Technical Lead
  h3 Crestron Electronics | Northvale, NJ
  h3 08/2009 - Present
  span Helped develop and maintain a set of JavaScript controls (called D-Nav) for use in touch panel user interfaces.
    br Led the development of numerous trade show user interaction demos for CEDIA, CES, and InfoComm. 
    br Led the research and development effort of Core3 UI, a touch panel graphics engine written solely in ActionScript3 and optimized for low-power mobile devices.  
    br Selected and interviewed job candidates for a variety of positions 
h1 Professional Experience
  h2 Founder / Software Engineer
  h3 Gangstar Paintball, LLC | San Diego, CA
  h3 11/2006 - 08/2009
  span Designed and developed the simple content management system / shopping cart for the company website.
    br Experience marketing and selling products online and at trade shows.
h1 Education
  h2 University at Buffalo | Buffalo, NY
  h3 Bachelors of Science in Electrical Engineering | May 2008
  span Relevant coursework: Computer Science I & II (Java), C/C++, Perl, Microprocessors I & II, Digital Principles
h1 Skill-set
  h2 Software
  span Eclipse, Microsoft Visual Studio, Adobe Creative Suite, Flash Develop, Aptana, GIT, TortoiseSVN, bash
  h2 Langauges
  span ActionScript3, Javascript, PHP, MySQL, HTML, CSS, Java, Python, C#, ASP.NET, C/C++, Assembly, NANT Scripting, RegEx
  h2 Libraries & Frameworks
  span jQuery, CodeIgniter, MooTools, Scriptaculous, Robotlegs, Node.js 
h1 Interests
  h2 Music, Food, Snowboarding, Paintball, Programming, Dogs