!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/helvetica-neue.css')
    link(rel='stylesheet', href='/stylesheets/windsong.css')
    link(rel='stylesheet', href='/stylesheets/lobster.css')
    script(src='/js/libs/jquery-1.7.1.min.js')
    script(src='/js/main.js')    
  body 
    include partials/ribbon
    include partials/header
    sectionWrapper!= body