!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/helvetica-neue.css')
    link(rel='stylesheet', href='/stylesheets/windsong.css')
    link(rel='stylesheet', href='/stylesheets/lobster.css')
    script(src='/js/libs/jquery-1.7.1.min.js')
    script(src='/js/libs/box2djs.0.2.0.jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
  body 
    include ribbon
    include header
    sectionWrapper!= body