!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/helvetica-neue.css')
    link(rel='stylesheet', href='/stylesheets/windsong.css')
    link(rel='stylesheet', href='/stylesheets/lobster.css')
  body 
    include index
