.container{position:relative;margin:0 auto;padding:0;width:1232px;}
.container .one.column{width:57px}
.container .two.columns{width:134px}
.container .three.columns{width:211px}
.container .four.columns{width:288px}
.container .five.columns{width:365px}
.container .six.columns{width:442px}
.container .seven.columns{width:519px}
.container .eight.columns{width:596px}
.container .nine.columns{width:673px}
.container .ten.columns{width:750px}
.container .eleven.columns{width:827px}
.container .twelve.columns{width:904px}
.container .thirteen.columns{width:981px}
.container .fourteen.columns{width:1058px}
.container .fifteen.columns{width:1135px}
.container .sixteen.columns{width:1212px}
.container .one-third.column{width:390.66666666666663px}
.container .two-third.column{width:801.3333333333333px}
.container .offset-by-one{padding-left:77px}
.container .offset-by-two{padding-left:154px}
.container .offset-by-three{padding-left:231px}
.container .offset-by-four{padding-left:308px}
.container .offset-by-five{padding-left:462px}
.container .offset-by-six{padding-left:462px}
.container .offset-by-seven{padding-left:539px}
.container .offset-by-eight{padding-left:616px}
.container .offset-by-nine{padding-left:693px}
.container .offset-by-ten{padding-left:770px}
.container .offset-by-eleven{padding-left:847px}
.container .offset-by-twelve{padding-left:924px}
.container .offset-by-thirteen{padding-left:1001px}
.container .offset-by-fourteen{padding-left:1078px}
.container .offset-by-fifteen{padding-left:1155px}
.column,.columns{float:left;display:inline;margin-left:10px;margin-right:10px}
.row{margin-bottom:20px;}
.column.alpha,.columns.alpha{margin-left:0}
.column.omega,.columns.omega{margin-right:0}
@media only screen and (min-width: 960px) and (max-width: 1231px){.container{width:960px;}
.container .one.column{width:40px}
.container .two.columns{width:100px}
.container .three.columns{width:160px}
.container .four.columns{width:220px}
.container .five.columns{width:280px}
.container .six.columns{width:340px}
.container .seven.columns{width:400px}
.container .eight.columns{width:460px}
.container .nine.columns{width:520px}
.container .ten.columns{width:580px}
.container .eleven.columns{width:640px}
.container .twelve.columns{width:700px}
.container .thirteen.columns{width:760px}
.container .fourteen.columns{width:820px}
.container .fifteen.columns{width:880px}
.container .sixteen.columns{width:940px}
.container .one-third.column{width:300px}
.container .two-third.column{width:620px}
.container .offset-by-one{padding-left:60px}
.container .offset-by-two{padding-left:120px}
.container .offset-by-three{padding-left:180px}
.container .offset-by-four{padding-left:240px}
.container .offset-by-five{padding-left:360px}
.container .offset-by-six{padding-left:360px}
.container .offset-by-seven{padding-left:420px}
.container .offset-by-eight{padding-left:480px}
.container .offset-by-nine{padding-left:540px}
.container .offset-by-ten{padding-left:600px}
.container .offset-by-eleven{padding-left:660px}
.container .offset-by-twelve{padding-left:720px}
.container .offset-by-thirteen{padding-left:780px}
.container .offset-by-fourteen{padding-left:840px}
.container .offset-by-fifteen{padding-left:900px}
}@media only screen and (max-width: 959px){.container{width:300px;}
.container .column{margin:0}
.container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.colums{width:300px}
.container .offset-by-one,.container .offset-by-two,.container .offset-by-three,.container .offset-by-four,.container .offset-by-five,.container .offset-by-six,.container .offset-by-seven,.container .offset-by-eight,.container .offset-by-nine,.container .offset-by-ten,.container .offset-by-eleven,.container .offset-by-twelve,.container .offset-by-thirteen,.container .offset-by-fourteen,.container .offset-by-fifteen{padding-left:0}
}@media only screen and (min-width: handheld-landscape-width) and (max-width: 959px){.container{width:480px;}
.container .column{margin:0}
.container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.colums{width:480px}
.container .offset-by-one,.container .offset-by-two,.container .offset-by-three,.container .offset-by-four,.container .offset-by-five,.container .offset-by-six,.container .offset-by-seven,.container .offset-by-eight,.container .offset-by-nine,.container .offset-by-ten,.container .offset-by-eleven,.container .offset-by-twelve,.container .offset-by-thirteen,.container .offset-by-fourteen,.container .offset-by-fifteen{padding-left:0}
}