@import "mixins/css3"
@import "nib"
@import "partials/grid"
@import "partials/ribbon"

/* Variables
-----------------------------------------------------------------------------*/
//font sizes
extra-small= 0.5em
small= 0.75em
medium= 1.0em
large= 1.4em
extra-large= 5.0em

//color palette - http://www.colourlovers.com/palette/1473/Ocean_Five
teal= #00A0B0
brown= #6A4A3C
red= #CC333F
orange= #EB6841
yellow= #EDC951

//misc colors
dark-shadow= #222
med-shadow= #555
light-shadow= #AAA
dark-red= #A00

/* Configure our grid
-----------------------------------------------------------------------------*/
columns= 12
total-width= 100%

/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  
/* 
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article, aside, dialog, figure, 
footer, header, hgroup, menu, 
nav, section  
  display block 
      

/* Set up document
-----------------------------------------------------------------------------*/
body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  text-align center

/* Typography
-----------------------------------------------------------------------------*/
@import "partials/typography"

/* Basic layout stuff
-----------------------------------------------------------------------------*/ 
body > header
  padding 50px 0px 0px 0px
  border-bottom 1px #222 dashed
  background #F6F6F6
  position absolute
  width 100%	
  box-shadow 0em .25em .05em rgba(0, 0, 0, 0.15)
  border-bottom-right-radius 20%
  border-bottom-left-radius 20%
  h1
    font 8em 'Lobster'
    color #222    
    text-shadow #000 0.010em 0.020em 0.030em
    -webkit-mask-image -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.55)), to(rgba(0,0,0,1)))
  h2 
    margin-top -1.80em
    padding-left 1.25em
    font extra-large 'Windsong'
    color #888
    text-shadow white 0.010em 0.020em 0.010em
  navigation
    padding 0 2.0em
    position relative
    top -1em    
    font 2.5em "Helvetica Neue"
    -webkit-mask-image -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.55)), to(rgba(0,0,0,1)))
    font-weight bold
    cursor pointer
    color dark-red
    text-decoration none
    text-shadow 0em .05em .05em light-shadow
    transition-property color, text-shadow, top
    transition-duration 0.3s
    transition-timing-function ease-out
    &:hover
      top -1.1em
      color lighten(@color, 8%)
      text-shadow 0px 0.35em 0.25em light-shadow
      transition-property color, text-shadow, top
      transition-duration 0.3s
      transition-timing-function ease-out
	   
/* Generic Section Stuff
-----------------------------------------------------------------------------*/ 
.container
  width 100%

/* Sections
-----------------------------------------------------------------------------*/ 
section
  padding 3em 0em 
  header
    h1
      font-family "Lobster"
  content
    column
      column(3)
      transition-property color, text-shadow
      transition-duration 0.4s
      transition-timing-function linear, ease-out

/* Blurry Text
-----------------------------------------------------------------------------*/ 
.blurry-text
  color rgba(255, 255, 255, 0)
  text-shadow 0 0 1em black
  transition-property color, text-shadow
  transition-duration 0.4s
  transition-timing-function linear, ease-out
  