@import "nib"
@import "partials/grid"
@import "partials/ribbon"

/* Variables
-----------------------------------------------------------------------------*/
//font sizes
extra-small= 0.5em
small= 0.75em
medium= 1.0em
large= 1.4em
extra-large= 5.0em

//color palette - http://www.colourlovers.com/palette/1473/Ocean_Five
teal= #00A0B0
brown= #6A4A3C
red= #CC333F
orange= #EB6841
yellow= #EDC951

//misc colors
dark-shadow= #222
med-shadow= #555
light-shadow= #AAA

/* Configure our grid
-----------------------------------------------------------------------------*/
columns= 12
total-width= 100%

/* Reset
Based on http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  
/* 
Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article, aside, dialog, figure, 
footer, header, hgroup, menu, 
nav, section  
  display block 
      

/* Set up document
-----------------------------------------------------------------------------*/
body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  text-align center

/* Typography
-----------------------------------------------------------------------------*/
@import "partials/typography"

/* Basic layout stuff
-----------------------------------------------------------------------------*/ 
header
  padding 50px 0px 0px 0px
  border-bottom 1px #222 dashed
  background #F6F6F6
  h1
    font 8em 'Lobster'
    color #222
  h2 
    margin-top -5%
    padding-left 10%
    font extra-large 'Windsong'
    color #888
    
.about
  width 100%
  padding 10px
  h2.header
    font bold
  .column
	  column(3)	
